.content-edit {
  padding-right: 270px;
  width: 82%;
  background: rgb(218, 217, 216);
  border-radius: 28px;
  margin-top: 101px;
  margin-right: 270px;
  margin-bottom: 0px;
  padding: 20px;
}
.form-edit {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
}
.avatar2 {
  border-radius: 50%;
  width: 160px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  width: 541px;
  margin: 10px auto;
}
.col1 {
  margin: 0 31px;
}
.f-input,.f-button {
  padding: 13px 20px;
  border-radius: 10px;
  border: 1px;
  border-color: white;
}
.f-button{
  margin-top: 10px;
}