.content-edit {
  padding-right: 270px;
  width: 82%;
  background: rgb(218, 217, 216);
  border-radius: 28px;
  margin-top: 101px;
  margin-right: 270px;
  margin-bottom: 0px;
  padding: 20px 40px;
}
.content-promotion{
  margin: 10px 0px;
}
.f-button {
  padding: 13px 20px;
  border-radius: 10px;
  border: 1px;
  border-color: white;
}
.f-button{
  margin-top: 10px;
  display: flex;
}
.d-button{
  display: flex;
  flex-direction: row-reverse;
}